body{
    background-color: rgb(197, 131, 131);
    color:rgb(0, 0, 0);
} 

img{
    width: 1300px;
    height: 400px;
}
h1, h2, h3{
    text-align: center;
}

footer{
    background-color:bisque;
    color: black;
    text-align: center;
}
button{
    background-color:cornsilk;
    color:black
     font-size: x-large; 
     size: 550 px;
}